
body,
html {
  width: 100%;
  height: 100%; 
}

body {
    font-family: 'Pacifico', cursive;
}


.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup{
  background-position: center;
  background-image: url("../images/pencil.jpg") ;
  background-size:cover;
  height:100%;
}
header.startup h1{
    font-size:5em;
    text-align:center;
}
.caption{
  margin-top:200px;
  
}
.rainbow {
  
    /* Font options */
   font-family: 'Pacifico', cursive;
   text-shadow: 2px 2px 4px #000000;
   font-size:40px;
   
    /* Chrome, Safari, Opera */
   -webkit-animation: rainbow 5s infinite; 
   
   /* Internet Explorer */
   -ms-animation: rainbow 5s infinite;
   
   /* Standar Syntax */
   animation: rainbow 5s infinite; 
   text-align:center;
 }
 
 /* Chrome, Safari, Opera */
 @-webkit-keyframes rainbow{
   0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Internet Explorer */
 @-ms-keyframes rainbow{
    0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 
 /* Standar Syntax */
 @keyframes rainbow{
     0%{color: orange;}	
   10%{color: purple;}	
     20%{color: red;}
   30%{color: CadetBlue;}
     40%{color: yellow;}
   50%{color: coral;}
     60%{color: green;}
   70%{color: cyan;}
   80%{color: DeepPink;}
   90%{color: DodgerBlue;}
     100%{color: orange;}
 }
 h2{
   color:black;
   font-family: 'Lobster', cursive;
  }
 .scores{
margin-top:15em;
display:flex;
flex-wrap:wrap;
justify-content:space-between;
 }

 .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
  line-height: 90px;
  text-align: center;
  font-size: 25px;
  color: #fff;

}
.results{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;

}
.result1{
  padding:-50px;      
}
.result2{

}
